@import "../../styles/fonts";

.navContainer {
  width: 100%;
  height: 8.375rem;
  display: flex;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0;
  padding: 0;
}

.navWrapper {
  margin: 1.5rem 2.1rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 767px) {
    align-items: center;
    justify-content: center;
  }
}

.navLogoWrapper {
  @media only screen and (max-width: 767px) {
    padding-top: 5rem;
  }
}
.navLogo {
  height: 5.375rem;
  width: 5.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 2rem;

  @media only screen and (max-width: 767px) {
    height: 6.375rem;
    width: 6.375rem;
    margin: 0;
    border: 1px solid rgb(153, 153, 153);
    background-color: white;
  }
}

.navItems {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  min-width: 7.375rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  //   background-color: rgb(41, 211, 55);
  letter-spacing: 4px;
  width: auto;
  overflow: hidden;

  ul {
    flex-wrap: wrap;
  }

  li {
    list-style: none;
    display: inline-block;
    padding: 0 2rem;
    transform: translateY(0);
  }

  @media only screen and (max-width: 767px) {
    display: none;
  }
}
