@import "colors";
@import "fonts";
@import "cursor";

* {
  box-sizing: border-box;
  cursor: none;
}

a {
  text-decoration: none;
  color: $primary-color;

  :active {
    text-decoration: none;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  font-family: $primary-font;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}
